MONGODB_URI=mongodb://admin:password@localhost:27018/portfoliodb
NEXT_PUBLIC_SITE_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=sibsankar-portfolio/projects
SESSION_SECRET=uyt23u4yg234ug1234ug1234jh123g4jh154g345
ADMIN_EMAIL=
ADMIN_PASSWORD=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
CONTACT_RECEIVER_EMAIL=
